{{! Copyright (c) 2021 Patrick Demian; Licensed under MIT }}

{{> header title="Error 404 - Not Found" description="Not Found"}}
		<!-- Main Content -->
		<div class="container contained-container" id="maincontent" role="main">
			<!-- Page Header -->
			<div class="align_header">
				<div class="mx-auto">
					<div class="site-heading">
						<h1>404</h1>
						<span class="subheading">Not Found</span>
					</div>
				</div>
			</div>
			<br><br><br>
			<div class="row">
				<div class="col-12 mx-auto">
					<h3 class="align_header">The resource could not be found.</h3>
				</div>
			</div>
		</div>
{{> footer}}