{{! Copyright (c) 2021 Patrick Demian; Licensed under MIT }}

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<p class="copyright">Copyright &copy; 2021 Patrick Demian. This page's source code is available at <a rel="noopener noreferrer" href="https://github.com/pdemian/human2regex">github.com/pdemian/human2regex</a></p>
					</div>
				</div>
			</div>
		</footer>
		
		</div>

		<!-- Our script -->
		<script defer src="/bundle.min.js"></script>

	</body>
</html>
