{{! Copyright (c) 2020 Patrick Demian; Licensed under MIT }}

{{> header}}
		<!-- Main Content -->
		<div class="container" id="maincontent" role="main">
			<!-- Page Header -->
			<div class="masthead">
				<div class="overlay"></div>
				<div class="container">
					<div class="align_header">
						<div class="mx-auto">
							<div class="site-heading">
								<h1>{{error-code}}</h1>
								<span class="subheading">{{error-subheading}}</span>
							</div>
						</div>
					</div>
				</div>
			</div>
			<br><br><br>
			
			<div class="row">
				<div class="col-12 mx-auto">
					<h3 class="align_header">{{{error-string}}}</h3>
				</div>
			</div>
		</div>
{{> footer}}