{{> header}}
		<!-- Main Content -->
		<div class="container" id="maincontent" role="main">
            <div class="row">
				<div class="col-lg-8 tenpx-margin-bottom">
					<div class="form-group row zero-margin-bottom">
						<label for="dialect" class="col-sm-4 col-form-label">Regex dialect:</label>
						<div class="col-sm-8">
							<select class="form-control" id="dialect">
								<option value="js" selected>Javascript</option>
								<option value="dotnet">.NET</option>
								<option value="java">Java</option>
								<option value="perl">Perl</option>
							</select>
						</div>
					</div>
					<h4>Your Regular Expression:</h4>
					<div class="row">
						<div class="col-xl-11">
							<input readonly type="text" class="form-control" id="regex"></input>
						</div>
						<div class="col-xl-1">
							<button type="button" class="btn btn-secondary" id="clip">Copy</button>
						</div>
					</div>
					
					<h4>Human Speak:</h4>
					<textarea class="form-control" id="human" rows="25">
// H2R supports // # and /**/ as comments
// A group is only captured if given a name. 
// You can use "and", "or", "not" to specify "[]" regex
// You can use "then" to combine match statements, however I find using multiple "match" statements easier to read

// exact matching means use a ^ and $ to signify the start and end of the string

using global and exact matching
create an optional group called protocol
	match "http"
	optionally match "s"
	match "://"
create an optional group called subdomain
	repeat
		match a word
		match "."
create a group called domain
	match 1+ words or "_" or "-"
	match "."
	match a word
# port, but we don't care about it, so ignore it
optionally match ":" then 0+ digits
create an optional group called path
	repeat
		match "/"
		match 0+ words or "_" or "-"
create an optional group
	# we don't want to capture the '?', so don't name the group until afterwards
	match "?"
	create a group called query
		repeat
			match 1+ words or "_" or "-"
			match "="
			match 1+ words or "_" or "-"
create an optional group
	# fragment, again, we don't care, so ignore everything afterwards
	match "#"
	match 0+ any thing
</textarea>
					<h4>Errors:</h4>
					<textarea readonly class="form-control " id="errors" rows="5"></textarea>
				</div>
				<br>
				<div class="col-lg-4 tenpx-margin-bottom">
					<div class="cheatsheet">
						<h2>Cheat Sheet:</h2>
						<p>Full documentation available <a href="tutorial.html">here</a></p>
						<p class="font-weight-bold">Matching</p>
						<p><code>match "hello world"</code> matches "hello world" exactly<p>
						<p><code>match "hello" then optionally " world"</code> matches "hello" or "hello world"</p>
						<p><code>match "hello" or "world"</code> matches "hello" or "world</p>
						<p><code>match a word</code> matches any word
						<p class="font-weight-bold">Repetition</p>
						<p><code>match 0+ "hello"</code> matches 0 or more "hello"s</p>
						<p><code>match 3 "hello"</code> matches exactly "hellohellohello"</p>
						<p><code>match 1 to 5 "hello"</code> matches between 1 to 5 "hello"s</p>
						<p><code>repeat 0 or more</code> repeats the intended text 0 or more times (default)</p>
						<p><code>optionally repeat between 3 to 5</code> optionally repeats the indented text 3 to 5 times</p>
						<p class="font-weight-bold">Grouping</p>
						<p><code>create a group called "mygroup"</code> creates a group called "mygroup"</p>
						<p><code>create an optional group</code> creates an unnamed optional group</p>
					</div>
				</div>
			</div>
         </div>
{{> footer}}