{{> header}}
		<!-- Main Content -->
		<div class="container" id="maincontent" role="main">
			<br><br><br>
			
			<div class="row">
				<div class="col-12 mx-auto">
					<h3 class="align_header">Stuff here</h3>
				</div>
			</div>
		</div>
{{> footer}}