{{> header}}
		<!-- Page Header -->
		<header class="masthead">
			<div class="overlay"></div>
			<div class="container">
				<div class="row">
					<div class="col-lg-12 col-md-12 mx-auto">
						<div class="site-heading">
							<h1>{{error-code}}</h1>
							<span class="subheading">{{error-subheading}}</span>
						</div>
					</div>
				</div>
			</div>
		</header>

		<!-- Main Content -->
		<div class="container" id="maincontent" role="main">
			<br><br><br>
			
			<div class="row">
				<div class="col-12 mx-auto">
					<h3 class="align_header">{{{error-string}}}</h3>
				</div>
			</div>
		</div>
{{> footer}}