{{! Copyright (c) 2020 Patrick Demian; Licensed under MIT }}

		<!-- Footer -->
		<footer>
			<div class="container">
				<div class="row">
					<div class="col-lg-8 col-md-10 mx-auto">
						<p class="copyright">Copyright &copy; 2020 Patrick Demian. This page's source code is available at <a rel="noopener noreferrer" href="https://github.com/pdemian/">github.com/pdemian/</a></p>
					</div>
				</div>
			</div>
		</footer>
		
		</div>

		<!-- Bootstrap core JavaScript -->
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
		<script defer src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script> 
		
		<!-- Our script -->
		<script defer src="script.min.js"></script>

	</body>
</html>
